# Visual Studio
.vs/
*.suo
*.user
*.vcxproj.user
*.ipch
*.VC.db
*.VC.VC.opendb
*.log
*.rsp
*.build.log
*.vspscc
*.vssscc

# Compilación
Debug/
Release/
*.obj
*.pdb
*.ilk
*.idb
*.tlog
*.pch

# Salida de compilación
*.exe
*.dll
*.lib
*.out
*.so
*.a

# NuGet
packages/
project.lock.json
*.nuget.props
*.nuget.targets

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# vcpkg
vcpkg_installed/

# Archivos temporales del sistema operativo
*.tmp
*.temp
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# VSCode
.vscode/
